<div class="wrapper">
    <h1 class="text-center text-secondary">This is from micro frontend 1</h1>
    <hr>
    <div class="row">
        <div class="col-sm-3"><iframe  src="https://www.youtube.com/embed/RO7HLNwNG7M?si=KNOcsRgZHhgNfozu"></iframe></div>
        <div class="col-sm-3"><iframe src="https://www.youtube.com/embed/JCccIssc_U8?si=qGx-l2tktour1rw4"></iframe></div>
        <div class="col-sm-3"><iframe src="https://www.youtube.com/embed/7Y6oTWLChbA?si=P_n0xV9fMbThdf2_"></iframe></div>
        <div class="col-sm-3"><iframe src="https://www.youtube.com/embed/v_BWi05VvMo?si=wQBlSCReuWUSU8FI" ></iframe></div>
      </div> 
</div>